<!--
<header class="navbar navbar-light" style="background-color: #0fe7a0";>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.name %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
          <%= link_to "Add Employee", new_user_registration_path, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign  up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>

      </ul>
    </nav>
  </div>
</header> -->
<header>
  <nav class="navbar navbar-inverse " role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan
         para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">A la CartA</a> -->
        <%= link_to 'A la CartA', new_sale_path, class:"navbar-brand"%>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Desplegar navegación</span>
        <!-- lineas horizontal pal boton -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
         otro elemento que se pueda ocultar al minimizar la barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Administrar<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <!-- <a href="#">Empleados</a> -->
                <%= link_to 'Empleados', :all_admins%>
              </li>
              <li>
                  <%= link_to 'Productos', products_path%>
              </li>
              <li class="divider"></li>
              <li>
                  <%= link_to 'Pedidos'%>
              </li>
            </ul>
          </li>
          <li>
            <!-- <a href="#">Empleados</a> -->
            <%= link_to 'Empleados', :all_admins%>
          </li>
          <li>
            <!-- <a href="#">Productos</a> -->
            <%= link_to 'Productos', products_path%>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Reportes<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                  <%= link_to 'Ventas', sales_path%>
              </li>
              <li class="divider"></li>
              <li><a href="#">----</a></li>
              <li><a href="#">----</a></li>
              <li><a href="#">Diario </a></li>
              <li><a href="#">Mensual</a></li>
              <li class="divider"></li>
              <li><a href="#">Producto Estrella</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href=" " class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span> <strong>Hola <%= current_user.name %>!</strong> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
               <%= link_to 'Edit profile', edit_user_registration_path%>
              </li>
              <li>
                  <%= link_to "Add Employee", new_user_registration_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete%>
              </li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          <% else %>
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
