<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @product, remote: true, :remote => true, :authenticity_token => true do |f| %>
      <form class="form" role="form">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :nombre %><br>
            </div>
            <div class="form-group">
              <%= f.text_field :nombre, placeholder: "Nombre del Producto" %>
            </div>
            <div class="form-group">
              <span class="glyphicon glyphicon-picture"></span>  Imagen:<%= f.file_field :image %>
            </div>
            <div class="form-group">
              <%= f.label :descripcion %><br>
              <%= f.text_area :descripcion, placeholder: "Descripcion del Producto"%>
            </div>
            <div class="form-group">
              <%= f.label :tipo_producto %><br>
              <%t_producto = ({'Comidas'=>'comidas','Bebidas'=>'bebidas','Postres'=>'postres', 'Adiciones'=>'adiciones'}).sort%>
              <%= f.select :tipo_producto, t_producto%>
            </div>
            <div class="form-group">
              <%= f.label :valor_unitario %><br>
              <%= f.number_field :valor_unitario %>
            </div>
            <div class="form-group">
              <%= f.label :stock %><br>
              <%= f.number_field :stock, placeholder: "Ingrese existencias"%>
            </div>
            <div class="form-group">
              <%= f.submit "Guardar", class: 'btn btn-default', data: {confirm: "Desea guardar Producto?"}%>
            </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </form>
    

      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
