<!--<p id="notice"><%= notice %></p>-->

<center>
<h1>Listado de Productos</h1>
</center>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Imagen</th>
      <th>Tipo producto</th>
      <th>Valor unitario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.nombre %></td>
        <td><%= product.descripcion %></td>
        <td> <%= image_tag product.image.url(:thumb) %></td>
        <td><%= product.tipo_producto %></td>
        <td><%= product.valor_unitario %></td>
        <td><%= link_to 'Mostrar', product, class: 'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_product_path(product), class: 'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', product, class: 'btn btn-default', method: :delete, data: { confirm: 'Esta seguro de eliminar el producto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Producto', new_product_path, class: 'btn btn-default' %>
