<!--<p id="notice"><%= notice %></p>-->

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <p>
      <strong>Nombre:</strong>
      <%= @product.nombre %>
    </p>
    <div class="field">
      <%= image_tag @product.image.url(:mini) %>
    </div>
    <p>
      <strong>Descripcion:</strong>
      <%= @product.descripcion %>
    </p>
    <p>
      <strong>Tipo producto:</strong>
      <%= @product.tipo_producto %>
    </p>
    <p>
      <strong>Valor unitario:</strong>
      <%= @product.valor_unitario %>
    </p>
  </div>
  <div class="col-md-3">
  </div>
</div>
<div class="col-md-3">
</div>
<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Regresar', products_path %>
