<!--<p id="notice"><%= notice %></p>-->

<center>
<h1>Historial de Ventas</h1>
</center>

<table class="table">
  <thead>
    <tr>
      <th>No. Factura</th>
      <th>Fecha</th>
      <th>Usuario</th>
      <th>Id Producto</th>
      <th>Cantidad</th>
      <th>Venta total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.id %></td>
        <td><%= sale.created_at %></td>
        <td><%= current_user.name %></td>
        <td colspan="1"></td>
        <!-- <td><%= sale.id %></td> debe ir id producto, pendiente de visualizacion -->
        <td><%= sale.cantidad %></td>
        <td><%= price_format sale.venta_total %></td>
        <td><%= link_to 'Mostrar', sale, class: 'btn btn-default'%></td>
        <td><%= link_to 'Editar', edit_sale_path(sale), class: 'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', sale, class: 'btn btn-default', method: :delete, data: { confirm: 'Esta seguro de eliminar la venta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
